@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
                <h1>Testing Information</h1>
                <hr>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid px-0">
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img src="~/Content/shannonhealth.jpg" alt="" style="float: left; width: 100%" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>Contact Info</h2>
                    <img src="~/Content/lolli_icon.png" alt="" class="d-none d-lg-inline">

                    <p class="lead">
                        shannonhealth.com<br />
                        120 E Harris Ave, San Angelo, TX 76903<br />
                        (325) 653-6741
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>Contact Info</h2>
                    <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                    <p class="lead">
                        angelo.edu/services/testing_center/<br />
                        testingcenter@angelo.edu<br />
                        (325) 942-2624
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Content/asu.png" style="float: right; width: 100%" alt="" class="img-fluid">
        </div>
    </div>

</section>
